[Unit]
Description=Wekan, task board
Wants=__MOGODB_SERVICENAME__.service
After=network.target __MOGODB_SERVICENAME__.service

[Service]
Type=simple
User=__APP__
Group=__APP__
EnvironmentFile=__FINALPATH__/.env
WorkingDirectory=__FINALPATH__
ExecStart=__NODEJS_PATH__/node __FINALPATH__/main.js
Restart=on-failure
#StartLimitInterval=86400
#StartLimitBurst=5
RestartSec=10
ExecReload=/bin/kill -USR1 $MAINPID
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__

[Install]
WantedBy=multi-user.target
