[Unit]
Description=Wekan: task board
Wants=__MONGODB_SERVICENAME__.service
After=network.target __MONGODB_SERVICENAME__.service

[Service]
Type=simple
User=__APP__
Group=__APP__
EnvironmentFile=__INSTALL_DIR__/.env
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__YNH_NODE__ __INSTALL_DIR__/main.js
Restart=on-failure
SuccessExitStatus=143
#RestartSec=10
#ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
